<div class="forgot-password-container">
  <h2></h2>
  <form>
    <div class="form-group">
      <input
        type="email"
        [(ngModel)]="email"
        [ngModelOptions]="{ standalone: true }"
        class="form-control"
        id="email"
        placeholder="Email"
        required
      />
    </div>
    <button type="submit" class="forgot-password-button" (click)="onForgotPassword()">
      Şifre Sıfırlama Bağlantısı Gönder
    </button>
  </form>
  <div *ngIf="message" class="alert" [ngClass]="{
      'alert-success': messageType === 'success',
      'alert-danger': messageType === 'error'
    }" role="alert">
      {{ message }}
    </div>
</div>
