<div class="dashboard-container">
  <header class="header">
    <div class="user-welcome">
      <div class="user-avatar">
        <i class="fas fa-user"></i>
      </div>
      <h1>Merhaba, {{ user.fullName }}</h1>
    </div>
    <div class="header-gradient"></div>
  </header>

  <div class="carousel-container">
    <div class="container">
      <input *ngFor="let i of [1,2,3,4,5,6]" type="radio" name="slider" [id]="'item-' + i"
             [(ngModel)]="selectedItem" [value]="i" (change)="onSelectionChange(i)" [checked]="i === 1"/>

      <div class="cards">
        <label class="card" *ngFor="let i of [1,2,3,4,5,6]" [id]="'card-' + i" [for]="'item-' + i">
          <div class="card-title">{{ getCardTitle(i) }}</div>
          <div class="card-content">{{ getCardContent(i) }}</div>
        </label>
      </div>

      <div class="carousel-controls">
        <button (click)="previousSlide()" class="nav-button prev">Previous</button>
        <button (click)="nextSlide()" class="nav-button next">Next</button>
      </div>
    </div>
  </div>

  <section class="stats-section">
    <h3>Soru yüklemesi yaptığım dersler</h3>
    <div class="stats-grid">
      <app-course-chart></app-course-chart>
    </div>
  </section>

  <section class="weather-section">
    <app-weather></app-weather>
  </section>
</div>
