<!-- Navbar -->
<div class="navbar">
  <div class="container">
    <div class="brand">
      <a href="/dashboard">Luminary</a>
    </div>

    <div class="nav-links"></div>

    <!-- Profile Dropdown -->
    <div class="dropdown profile-dropdown">
      <a
        class="dropdown-toggle d-flex align-items-center"
        href="#"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fas fa-user"></i>
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdown"
      >
        <li>
          <a class="dropdown-item" href="/profile">Profilim</a>
        </li>
        <li><a class="dropdown-item" href="/home">Çıkış Yap</a></li>
      </ul>
    </div>
  </div>
</div>
