.app-container {
  display: flex;
  height: 100vh;
}

.chat-section {
  flex: 1;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.pdf-section {
  flex: 1;
  display: flex;
  width: 50%;
  background-color: #f8f9fa;
}

.pdf-container {
  width: 100%;
  height: 100%;
}

.pdf-viewer {
  width: 100%;
  height: 100%;
  border: none;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.chat-box {
  flex-grow: 1;
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
}

.from-assistant {
  background-color: #e0f7fa;
  align-self: flex-start;
}

.from-user {
  background-color: #dcedc8;
  align-self: flex-end;
}

input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.input-container {
  display: flex;
  padding: 10px;
  background-color: #eceff1;
  border-top: 1px solid #ddd;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
}

.auto-resizable-textarea {
  flex-grow: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
  overflow: hidden;
  font-size: 14px;
  transition: height 0.3s ease;
  line-height: 1.5;
  margin-right: 10px;
  min-height: 40px;
  max-height: 200px;
}

textarea:focus {
  border-color: #4caf50;
  outline: none;
}

button {
  padding: 12px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  height: 40px;
  align-self: flex-end;
}

button:hover {
  background-color: #45a049;
}