<div class="sidebar" [class.expanded]="isExpanded">
  <!-- Hamburger Menu -->
  <div class="hamburger-menu-wrapper">
    <button class="hamburger-menu" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <!-- Sidebar Icons -->
  <div class="icon-links-wrapper">
    <a href="/dashboard" class="icon-link">
      <i class="fas fa-home"></i>
      <span>Anasayfa</span>
    </a>
    <a href="/map" class="icon-link">
      <i class="fas fa-map"></i>
      <span>Harita Durumu</span>
    </a>
    <a href="/upload" class="icon-link">
      <i class="fas fa-chart-line"></i>
      <span>Analiz Sistemi</span>
    </a>
    <a href="/environments" class="icon-link">
      <i class="fas fa-chalkboard-teacher"></i>
      <span>Akıllı Çalışma Ortamı</span>
    </a>
    <a href="/task" class="icon-link active">
      <i class="fas fa-check-circle"></i>
      <span>Görevlerim</span>
    </a>
    <a href="/history" class="icon-link">
      <i class="fas fa-image"></i>
      <span>Yükleme Geçmişi</span>
    </a>
  </div>
</div>
